<!doctype html>
<html lang="en">

<head>
    <title>VueJS - To Do List </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

    <div class="container" id="app">
        <div>
            <h1 class="mt-3">To Do List</h1>
            <input type="text" @keyup.enter="addTask" v-model="newTask.text" class="mt-5">
            <button class="mx-3 px-2 rounded-1" @click="addTask">Add Task</button>
            <small v-show="error" class="text-danger">Devi inserire almeno 5 caratteri</small>
        </div>
        <div>
            <h5 class="mt-5">things to do:</h3>
                <ul v-if="tasks.length !== 0">
                    <li v-for="(task,i) in tasks" @click.stop="taskDone(i)" :class="{ crossed: tasks[i].done}">
                        {{task.text}}
                        <span class="bold mx-2 text-danger" @click.stop="removeTask(i)">
                        X
                        </span>
                    </li>
                </ul>
                <p v-else>
                    MISSION ACCOMPLISHED ! Ora puoi nerdare !
                </p>
        </div>
    </div>








    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>        
</body>

</html>